.forgot-password-btn{
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: rgb(53, 47, 47);
    color: white;
}

.forgot-password-btn:hover{
    font-weight: bold;
}

.update-success{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update-success>h2{
    color: green;
    font-size: 2rem;
    margin-bottom: 30px;
}

.update-success> a{
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: rgb(53, 47, 47);
    color: white;
    text-decoration: none;
}

.update-success> a:hover{
    font-weight: bold;
}
