.sub-footer{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding: 30px 0px ;
    height: 30vh;
    background-image: url('../../../public/assets/icons/Footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-footer a{
    text-decoration: none;
    display: block;
    color: #182838;
    margin: 10px 0px;
}

.sub-footer>section>a:first-child{
    font-weight: bold;
    /* change it according to the font you use */
}

.socialmedia>a, .about-us>a{
    font-size: 1.5rem;
}

.socialmedia>span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}

.facebook{
    background-image: url('../../../public/assets/icons/facebook.svg');
}

.instagram{
    background-image: url('../../../public/assets/icons/instagram.svg');
}

.linkedin{
    background-image: url('../../../public/assets/icons/linkedin.svg');
}