.container{
    height: calc(100vh - 155px);
    display: flex;
}

.form-container, .text-container{
    width: 50%;
}

.text-container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    text-align: left;
}

.heading-logo{
    color: #5861AE;
    font-size: 5rem;
}
.heading-logo>span{
    display: block;
}

.text-container>h6{
    margin-bottom: 30px;
}

.text-container>a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #4552C1;
    border: 2px solid #4552C1;
    padding : 0.5em 1em;
    width: fit-content;
    margin-top: 15px;
    border-radius: 5px;
}

.text-container>a:hover{
    color: #FFFFFF;
    background-color: #4552C1;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B9C0FD1A;
    text-align: left;
}

.input-container, .form-container>h2{
    padding-left: 20%;
}

.form-container>h2{
    font-size: 2rem;
    color: #5861AE;
}

.form-container>form>button{
    margin-left: 20%;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4552C1;
    border: 2px solid #4552C1;
    padding : 0.5em 1em;
    width: fit-content;
    margin-top: 15px;
    border-radius: 5px;
}

.form-container>form>button:hover{
    color: #4552C1;
    background-color: #FFFFFF;
}

.input-container{
    border-left: 2px solid #5861AE;
}

.forgot-password{
    text-align: center;
    color: #4552C1;
}

.input-item{
    border: none;
    color: #77838F;
    font-size: 1rem;
    border-bottom: 2px solid #77838F;
    padding-bottom: 10px;
    width: 50%;
    margin: 50px 0px 10px 0px ;
}

.input-item:focus-visible{
    outline: none;
}

.referals{
    height: 70px;
    padding: 10px 0px;
    border-top: 3px solid #5861AE;
    box-shadow: 0px -3px 6px #0000000B;
    background-color: #F8F9FF;
}

.referals>h3{
    color: #5861AE;
    letter-spacing: 0.96px;
}

.referals>p{
    font-size: 10px;
}

.show-password{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../../../public/assets/icons/padlock.svg');
    background-repeat: no-repeat;
    background-size: contain;
}