*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 2px 48px #0000000F;
}

header>h1{
    font-size: 2rem;
    color: #5861AE;
}
.nav-bar>ul>li{
    list-style: none;
    display: inline-block;
    height: 85px;
    padding-top: 30px;
}

.nav-bar>ul>li:last-child{
    background-color: #5861AE;
}

.nav-bar>ul>li:last-child>a{
    color: white;
}

.nav-bar>ul>li>a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0px 20px;
    color: #565657;;
}